<search></search>     
<div class="columns">
      <h2>Browse</h2>
      <hr>
      <figure>
          <div class="image_label"></div>
          <div class="item_overlay"></div>
          <figcaption></figcaption>
      </figure>
      <figure>
          <div class="image_label"></div>
          <div class="item_overlay"></div>
          <figcaption></figcaption>
      </figure>
      <figure>
          <div class="image_label"></div>
          <div class="item_overlay"></div>
          <figcaption></figcaption>
      </figure>
      <figure>
          <div class="image_label"></div>
          <div class="item_overlay"></div>
          <figcaption></figcaption>
      </figure>
      <figure>
          <div class="image_label"></div>
          <div class="item_overlay"></div>
          <figcaption></figcaption>
      </figure>
</div>
